<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    <!-- Heading -->
    {{>navbar}}

    <!-- main body -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather Express</p>
                        <h1>I am a  <span class="body_span">Mern Stack Developer</span> And a Freelancer. </h1>
                        <button class="button">Click Me</button>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/woman.jpg" alt="woman" class="img-fluid" title="bandana">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
     {{>footer}}
     
</body>

</html>